<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Eager-vs-Lazy-Demo/src/com/hibernate/eager/lazy/EagerLazyAfterSessionClosingDemo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.hibernate.eager.lazy.EagerLazyAfterSessionClosingDemo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Eager-vs-Lazy-Demo"/>
</launchConfiguration>
